.footer-list-of-items {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  color: var(--footer-default-color);
}

.footer-list-items .footer-list-title {
  font-size: 0.9375rem;
}

.footer-list-items .item {
  padding-top: 1.5rem;
}

.footer-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem 0;
}

.footer-links .country {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
}
.footer-links .country .fa-globe-europe {
  padding-right: 0.5rem;
}

.footer-links .footer-extra {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.footer-links .footer-extra .footer-links-items {
  display: flex;
}

.footer-links .footer-extra .footer-links-items .item {
  padding-right: 1rem;
}

.footer-links .footer-extra .copyright,
.footer-links .footer-extra .footer-links-items {
  font-size: 0.6875rem
}