
.hero-big {
  width: 100%;
  height: var(--max-height);
  max-height: calc(100% - var(--max-height-calc-hero));
  position: relative;
  margin-bottom: 2rem;
  cursor: pointer;
}

.hero-big:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../img/big-hero-computer.jpg') no-repeat center/cover;
}


.hero-big .hero-big-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-big .hero-big-content .hero-big-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: flex-end;
  width: 40%;
  position: relative;
  z-index: 3;
}


.hero-big .hero-big-content .hero-big-title {
  font-size: 2.5rem;
  line-height: 1;
  margin-bottom: 1rem;
}

.hero-big .hero-big-content .hero-big-text {
  width: var(--hero-text-width);
  font-size: var(--hero-text-size);
  margin-bottom: 1rem;
}

.hero-big .hero-links {
  margin-top: 2rem;
}

.hero-big .hero-btn:hover {
  box-shadow: inset -25px -8px 76px -47px rgba(255,255,255,1);
  transition: all var(--animation-speed) ease-in-out;
}

.hero-big .hero-btn span {
  position: relative;
}

.hero-big .hero-btn > .fa-angle-right {
  padding-left: 1rem;
}

.hero-big .hero-btn span:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transform: scale(0);
  border-bottom: 0.125rem solid var(--default-bg-color);
  transition: all var(--animation-speed) ease-in-out;
}

.hero-big .hero-btn:hover span:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transform: scale(1);
  border-bottom: 0.125rem solid var(--default-bg-color);
  transition: all var(--animation-speed) ease-in-out;
}
