/* Hero slider layout */

.main-hero-slider {
  width: 100%;
  height: var(--max-height);
  max-height: calc(100% - var(--max-height-calc-hero));
  position: relative;
  z-index:3;
}


.main-hero-slider .main-hero-contents {
  position: relative;
  width: 100%;
  height: var(--max-height);
  display: flex;
  justify-content: center;
  align-content: flex-end;
}


.main-hero-slider .main-hero-content{
  width: 100%;
  height: 100%;
  position: relative;
}

.main-hero-slider .hero-content-wrapper {
  height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 5rem;
}


.main-hero-slider .main-hero-content .hero-title {
  margin-bottom: 2rem;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 2.215rem;
}

.main-hero-slider .main-hero-content .hero-title span {
  text-transform: uppercase;
}

.main-hero-slider .main-hero-content .hero-text {
  font-size: 1.125rem;
  margin-bottom: 2rem;
  width: var(--hero-text-width);
}

.main-hero-slider:hover  .main-hero-content .hero-btn {
  box-shadow: inset -25px -8px 76px -47px rgba(255,255,255,1);
  transform: scale(1.1);
  text-decoration: underline;
  transition: all var(--animation-speed) ease-in-out;
}

.main-hero-slider .main-hero-content .hero-btn > .fa-angle-right {
  padding-left: 1rem;
}

.main-hero-slider:hover  .main-hero-content .hero-btn > .fa-angle-right {
  text-decoration: none;
  padding-left: 1rem;
}

.main-hero-slider > .fa-angle-right,
.main-hero-slider > .fa-angle-left {
  opacity: 0;
  color: black;
  background:var(--circle-bg-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  z-index: 3;
  cursor: pointer;
  font-size: 2rem;
}

.main-hero-slider:hover > .fa-angle-right,
.main-hero-slider:hover > .fa-angle-left {
  box-shadow: -9px 9px 16px 0px rgba(0,0,0,0.75);
  opacity: 1;
}

.main-hero-slider > .fa-angle-right {
  right: 0;
}

.main-hero-slider > .fa-angle-left:before,
.main-hero-slider > .fa-angle-right:before {
  position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

