.main-one-store .main-one-store-content {
  padding: 2rem 9rem;
}

.main-one-store .content-items {
  padding: 1.875rem 11.25rem;
  display: flex;
}

.main-one-store .content-items .item {
  height: 100%;
  width: 100%;
}

.main-one-store .content-items .item a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
}

.main-one-store .content-items .item a:hover, .main-one-store .content-items .item a:focus {
  text-decoration: underline;
}

.main-one-store .content-items .item-text {
  padding-top: 1rem;
}

.main-one-store .content-items .item-text span {
  display: flex;
  justify-content: center;
}