.main-social-media .social-media-block {
  width: 100%;
  height: 100%;
}

.main-social-media .social-media-block .list-of-items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main-social-media .social-media-block .list-of-items .item {
  width: 2rem;
  height: 2rem;
  margin-left: 0.75rem;
}